@import-normalize;

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    /* width: 100vw; */
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  cursor: pointer;
}

.App {
  text-align: center;
  color: #c7293c;
  font-weight: 600;
  font-size: 1.1rem;
}

header {
  display: flex;
  background-color: #c7293c;
  color: white;
  text-align: center;
  box-shadow: 0px 10px 20px 0px rgba(100,51,51,0.5);
  align-items: center;
  justify-content: space-around;
  position: relative;
  z-index: 0;

}

h1 {
  margin: 0;
  padding: 1.5rem 0;
}

.add-button {
  background: #007c00;
  color: white;
  padding: 0.4em 1em;
  border-radius: 10px;
  border: none;
  margin: 0 auto;
}

.remove-button {
  background: #7c0000;
  color: white;
  padding: 0.4em 1em;
  border-radius: 10px;
  border: none;
  margin: 0 auto;
}

button:disabled {
  background: #aaaaaa;
}

.basket-button, .likes-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.basket-button img, .likes-button img {
  margin-right: 0.5rem;
}

/* MENU AND BASKET */

.wrapper {
  display: flex;
  position: relative;
  z-index: 1;
  justify-content: center;
}

.wrapper-around {
  justify-content: space-around;
}

.menu-list {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.menu-item {
  margin: 0em 1em 1em 1em;
  display: flex;
  flex-direction: column;
}

.menu-img {
  width: 10em;
  height: 10em;
  object-fit: cover;
}

.basket {
  padding: 1rem;
  box-shadow: -10px 0px 20px 0px rgba(100,51,51,0.5);
  background-color: white;
}

.basket-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pizza-name {
  max-width: 11rem;
}

.button-container {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.button-container .add-button {
  margin-bottom: 0.5rem;
}

/* p {
  word-break: break-all;
} */